<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1><em>mini</em>-MSG-wall</h1>
        <h2>Drop a message for all to see</h2>
    </header>
    <main>
        <ul>
            <% messages.forEach((message) => { %>
                <li class="message-container">
                    <div>
                        <h3><%= message.user %></h3><span><%= message.added %></span>
                    </div>
                    <p><%= message.text %></p>
                    <div>
                        <button onclick="location.href='/details?id=<%= message.id %>'">Open</button>
                    </div>
                </li>
            <% }) %>
        </ul>
        <button onclick="location.href='/new'">Create New Message</button>
    </main>
    <footer>
        Made By Wade
    </footer>
</body>
</html>