<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/74043cfcaf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Mini-MSG-Wall</h1>
        <h2>Leave a message for all to see</h2>
        <div><i class="fa-regular fa-message fa-lg wiggle"></i><span></span> <%= messages.length %> msgs</div>
        <span>Most recent msg by: <%= messages[messages.length -1].user %></span>
    </header>
    <main>
        <ul>
            <% for(let i = messages.length - 1; i >= 0; i--) { %>
                <li class="message-container">
                    <div class="messageHeader">
                        <h3><%= messages[i].user %></h3><span><%= messages[i].added %></span>
                    </div>
                    <p><%= messages[i].text %></p>
                    <div>
                        <button onclick="location.href='/details?id=<%- messages[i].id %>'">Open</button>
                    </div>
                </li>
            <% } %>
        </ul>
        <button onclick="location.href='/new'"><i class="fa-solid fa-plus fa-sm"></i> New Message</button>
    </main>
    <footer>
        <a href="https://github.com/wade-levels-up/mini-message-board">
            <i class="fa-brands fa-github fa-lg" title="Check out my code on Github"></i>
            <span>Made by Wade</span>
            <i class="fa-brands fa-node-js fa-lg" title="A Node.js | Express.js Project"></i>
        </a>
    </footer>
</body>
</html>